<section id="rendererContainer" #rendererContainer></section>
<!-- <div class="ar_overlay_button middle left"
  onpointerup="window.dispatchEvent(new CustomEvent('rotateLeft', {detail: {clicked:false}}))"
  onpointerdown="window.dispatchEvent(new CustomEvent('rotateLeft', {detail: {clicked:true}}))">
  <span class="material-symbols-outlined">autorenew</span>
</div>
<div class="ar_overlay_button middle right"
  onpointerup="window.dispatchEvent(new CustomEvent('rotateRight', {detail: {clicked: false}}))"
  onpointerdown="window.dispatchEvent(new CustomEvent('rotateRight', {detail: {clicked:true}}))">
  <span class="material-symbols-outlined">sync</span>
</div>
<div class="ar_overlay_button bottom left"
  onpointerup="window.dispatchEvent(new CustomEvent('scaleDown', {detail: {clicked: false}}))"
  onpointerdown="window.dispatchEvent(new CustomEvent('scaleDown', {detail: {clicked:true}}))">
  <span class="material-symbols-outlined">remove</span>
</div>
<div class="ar_overlay_button bottom right"
  onpointerup="window.dispatchEvent(new CustomEvent('scaleUp', {detail: {clicked: false}}))"
  onpointerdown="window.dispatchEvent(new CustomEvent('scaleUp', {detail: {clicked:true}}))">
  <span class="material-symbols-outlined">add</span>
</div> -->