// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$extrude-dxf-primary: mat.define-palette(mat.$indigo-palette);
$extrude-dxf-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$extrude-dxf-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$extrude-dxf-theme: mat.define-light-theme((color: (primary: $extrude-dxf-primary,
        accent: $extrude-dxf-accent,
        warn: $extrude-dxf-warn,
      ),
      typography: mat.define-typography-config(),
      density: 0));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($extrude-dxf-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  background-color: #8d8d8d;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.ar_overlay_button {
  // évite de lancer des actions si on clique, ce qui arrete les lancés d'event
  touch-action: none !important;
  -ms-touch-action: none !important;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;

  position: absolute !important;
  padding: 10px !important;
  background-color: #56e6ffa6 !important;
  height: 44px !important;

  &:active {
    background-color: #56e6ff49 !important;
  }
}

.middle {
  top: 50% !important;
}

.bottom {
  top: 80% !important;
}

.top {
  top: 20% !important;
}

.left {
  left: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}

.right {
  right: 0 !important;
  border-top-left-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
}